.banking {
	&__accounts {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}
}

.general {
	width: 100%;
	display: grid;
	grid-template-columns: 300px 450px 1fr;
	column-gap: 30px;
}

.loan {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 3fr 3fr 3fr 3fr;
	column-gap: 10px;
}

.transactions {
	width: 100%;
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 30px;
}

.payment {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr 1fr 1fr;
	column-gap: 10px;
}

.transfer {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
	column-gap: 10px;
}

.transfer-money {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
